ul {
  padding-left: 0;
}

button {
  background: transparent;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

h1 {
  color: #fff;
}

p, h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.icon {
  background: url(../img/spritesheet.png);
  vertical-align: middle;
}
